{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
  {% for student in object_list %}
    <li>
      <h6>
        {{ student.name }} {{ student.group }}
      </h6>
      {% for teacher in student.teachers.all %}
      <br>
      Преподаватель: {{ teacher.name }} ({{ teacher.subject }})
      {% endfor %}
    </li>
    <br>
    <br>
    <br>
  {% endfor %}
  </ul>
  <img class="w-120 mx-auto" src="{% static 'img/screen.png' %}" alt="photo">
</div>
{% endblock %}
